@use 'modules/mixins' as *;

body {
  padding: $size;
  background: 2px solid pink;
  @include bgred;
  @include mq {
    background: orange;
  }
  @include mq($width: 70rem) {
    background: yellow;
  }
}
