.menu {
  border-style: solid !important;
  border-color: white !important;
  border-width: 14px 14px 0 14px !important;
}

.segment {
  min-height: 300px;
}

.container {
  margin-top: 50px;
}
